<nav class ="navbar navbar-default">
  <div class="container-artist">
      <a href="#/search"><img src="images/discgo.png" class="img-responsive margin artist" style="display:inline" alt="music" width="125" height="125"></a>

<div class="container">
    <div class="row">
      <div class="heading-title text-center">
        <h3 class="text-uppercase">Our Team </h3>
        <p class="p-top-30 half-txt">Meet RADD </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images\Ashton.JPG" alt="team member" class="img-responsive">
          </div>
          <div class="team-hover">
            <div class="desk">
              <h4>Ashton</h4>
              <p>I love to front-end.</p>
            </div>
          </div>
        </div>
        <div class="team-title">
          <h5>Ashton</h5>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images\Ramiz.JPG" alt="team member" class="img-responsive">
          </div>
          <div class="team-hover">
            <div class="desk">
              <p>I love DiscGo.</p>
            </div>
          </div>
        </div>
        <div class="team-title">
          <h5>Ramiz</h5>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images\Deanna.JPG" alt="team member" class="img-responsive">
          </div>
          <div class="team-hover">
            <div class="desk">
              <p>I love to design.</p>
            </div>
          </div>
        </div>
        <div class="team-title">
          <h5>Deanna</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="team-member">
        <div class="team-img">
          <img src="images\AntoSarkissian Work Pic.jpg" alt="team member" class="img-responsive">
        </div>
        <div class="team-hover">
          <div class="desk">
            <p>I love to create new apps.</p>
          </div>
        </div>
      </div>
      <div class="team-title">
        <h5>Anto</h5>
      </div>
    </div>
  </div>
</div>
