<nav class ="navbar navbar-default">
      <a href="#/search"><img src="images/discgo.png" class="img-responsive margin" style="display:inline" alt="music" width="225" height="225"></a>
</nav>
<div class="container-fluid">
<div class="row">
  <div class="col-sm-2"><img class="img-circle" ng-src="{{artistImage}}" /></div>
  <div class="col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">{{artist}}<p class="tour" on-tour ng-if="onTourData == 1"></p></div>
      <div class="panel-body" ng-bind-html="artistBio | unsafe">Panel Content</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">Top Albums for {{artist}}</div>
      <div class="panel-body">
      <ul class="albumAlign">{{albumName1}}<br><img ng-src="{{albumImage1}}" /></ul>
      <ul class="albumAlign">{{albumName2}}<br><img ng-src="{{albumImage2}}" /></ul>
      <ul class="albumAlign">{{albumName3}}<br><img ng-src="{{albumImage3}}" /></ul>
      <ul class="albumAlign">{{albumName4}}<br><img ng-src="{{albumImage4}}" /></ul>
      <ul class="albumAlign">{{albumName5}}<br><img ng-src="{{albumImage5}}" /></ul>
    </div>
  </div>
</div>
</div>
</div>
