<nav class ="navbar navbar-default">
  <div class="container-artist">
      <a href="#/search"><img src="./images/DISCGO.png" class="img-responsive margin artist" style="display:inline" alt="music" width="125" height="125"></a>

  <div class="navbar-header">

       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
     </div>
   </div>
      <div class="collapse navbar-collapse first second" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>
  </nav>

<div class="container-fluid">
  <div class="row">
  <div class="col-sm-4">
    <img class = "artistImage" ng-src="{{artistImage}}"/>
    <p class="tour" on-tour ng-if="onTourData == 1"></p>
  </div>

    <div class="col-sm-8">
      <div>
        <div class = "artistName">
            <p>{{artist}}<p>
        </div>
        <div ng-bind-html="artistBio | unsafe">Panel Content</div>
      </div>
  </div>
</div> <!-- // end of row -->

<div class="row">
  <div class="col-sm-6">
      <h2>Top Albums for {{artist}}</h2>

        <div class="albumAlign" ng-if="albumName1 != '(null)'">
          <img ng-src="{{albumImage1}}"/>
          <h5>{{albumName1}}</h5>
        </div>

        <div class="albumAlign" ng-if="albumName2 != '(null)'">
          <img ng-src="{{albumImage2}}"/>
          <h5>{{albumName2}}</h5>
        </div>

        <div class="albumAlign" ng-if="albumName3 != '(null)'">
          <img ng-src="{{albumImage3}}"/>
          <h5>{{albumName3}}</h5>
        </div>

        <div class="albumAlign" ng-if="albumName4 != '(null)'">
          <img ng-src="{{albumImage4}}"/>
          <h5>{{albumName4}}</h5>
        </div>

        <div class="albumAlign" ng-if="albumName5 != '(null)'">
          <img ng-src="{{albumImage5}}"/>
          <h5>{{albumName5}}</h5>
        </div>
  </div>


<div class="col-sm-6">
      <h2>Top Tracks for {{artist}}</h2>
      <p><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>    {{trackName1}}</p>
      <p><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>    {{trackName2}}</p>
      <p><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>    {{trackName3}}</p>
      <p><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>    {{trackName4}}</p>
      <p><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>    {{trackName5}}</p>
      <p><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>    {{trackName6}}</p>
      <p><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>    {{trackName7}}</p>
      <p><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>    {{trackName8}}</p>
      <p><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>    {{trackName9}}</p>
      <p><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>    {{trackName10}}</p>
    </div>
  </div>
</div>
