<div class="container-fluid bg-1 text-center">
    <img src="./images/DISCGO.png" class="img-responsive margin" style="display:inline" alt="discGo" width="550" height="550">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form ng-submit="sendInfo(artist)">
                <div class="input-group">
                    <input type="text" ng-model="artist" class="form-control" placeholder="Search for Artist...">
                    <span class="input-group-btn">
        <a href="#/result">
        <button class="btn btn-default" ng-click="sendInfo(artist)" type="button">Go!</button>
        </a>
      </span>
                </div>
            </form>
        </div>
    </div>
</div>
